body, html {
    height: 100%;
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}


/* Menu options styles*/
.formUserOptions {
    background-color: white; 
    padding: 50px;
    border-radius: 5px; 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    width: 320px; 
    margin: 0 auto; 
}

.formUserOptions .buttons {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.formUserOptions .title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.formUserOptions button {
    border: none; 
    border-radius: 5px; 
    padding: 10px 10px;
    font-size: 16px; 
    cursor: pointer; 
    color: black;
}

.formUserOptions .doctorsButton {
    background-color: #D8B7AF;
}

.formUserOptions .patientButton {
    background-color: #F3DDDE;
}

.formUserOptions .pharmacistButton {
    background-color: #A6C4CA;
}

.formUserOptions .osButton {
    background-color: #B0AFE2;
}

.formUserOptions button:hover {
    font-weight: bolder; 
}

/*login styles*/
.formLogin {
    background-color: white; 
    padding: 50px;
    border-radius: 5px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    gap: 1px; 
    width: 300px; 
}

.formLogin input.loginInput {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #9f9f9f;
    width: 258px;
    margin-bottom: 15px;
}

.formLogin .loginButton {
    background-color: #8A88DB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 280px;
    margin: 10px;
}

.formLogin .loginButton:hover {
    background-color: #706EC1;
}

.formLogin .loginTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}
.formLogin .RegistrateButton {
    border: none;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}
.formLogin .RegistrateButton:hover {
    text-decoration: underline;
}

.formLogin .RecordarButton {
    border: none;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    padding-top: 20px;
}

.formLogin .RecordarButton:hover {
    text-decoration: underline;
}

.formLogin .inputTitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
    text-align: left;
    width: 92%;
}
