/* Botón de transferencia mejorado */
.button_t {
    background-color: #D8B7AF;
    color: black;
    border: none;
    border-radius: 8px; /* Más redondeado */
    padding: 10px 14px; /* Botón más grande */
    width: 100%; /* Que ocupe todo el ancho del accordion */
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_t:hover {
    background-color: #c88270; /* tu color de hover */
    transform: scale(1.02); /* crece levemente */
}


.status-valid {
    color: green;
    font-weight: bold;
}

.status-expired {
    color: red;
    font-weight: bold;
}

.status-dispensed {
    color: blue;
    font-weight: bold;
}



.no-recetas-container {
    text-align: center;
    margin-top: 50px;
}

.no-recetas-text {
    font-size: 18px;
    color: #555;
}

.success-alert {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.error-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

